@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html {

    font-size: 62.5%;
}

body {

    background: hsl(233, 47%, 7%);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;



}

main {

    background: hsl(244, 37%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;


}

h1 {
    color: hsl(0, 0%, 100%);
    width: 18ch;
    font-size: 2rem;
    padding-inline-start: 50px;
    line-height: 1.5;
    padding-block-end: 40px;

}

span {

    color: hsl(277, 64%, 61%);
}



.paragraph {

    color: hsla(0, 0%, 100%, 0.75);
    width: 40ch;
    line-height: 1.5;
    padding-inline-start: 50px;
    font-size: 1.2rem;
    position: relative;
    bottom: 35px;





}



.third-class {

    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    gap: 45px;
    padding-inline-start: 50px;
    position: relative;
    bottom: 30px;


}

.change-color {

    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 200;
    font-size: 1rem;

}

.number-color {

    color: hsl(0, 0%, 100%);
    font-weight: 600;

}

.image-box {
    position: relative;
    display: inline-block;
}

img {

    border-radius: 2px;
    height: 50vh;
    width: 30vw;
    object-fit: cover;
    overflow: hidden;


}

.image-box {

    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    order: 2;

}

.image-box img {
    display: block;
    height: 50vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 5px;
}


.image-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(277, 64%, 61%);
    opacity: 0.6;
}

.first-content>p {
    margin: 0;
    margin-top: 10px;
}

.second-content>p {
    margin: 0;
    margin-top: 10px;
}

.third-content>p {
    margin: 0;
    margin-top: 10px;
}

.myorder {

    order: 1;

}

@media screen and (max-width:600px) {

    main {
        flex-direction: column-reverse;
    }

    .image-box img {

        width: 100%;
        height: auto;
        object-fit: cover;

    }

}